


<!-- Afficher tous les utilisateurs -->
<div class="text-center"><h1>List Of Users</h1></div>


<table  class="table table-hover" style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Email</th>
        <th>Password</th>
    
    </tr>
    <tr *ngFor="let user of users" [class.selected]="user == selectedUser" (click)="onSelect(user)">
        <td> {{ user.nom }} </td>
        <td> {{ user.email }} </td>
        <td> {{ user.password }} </td>

        
    </tr>
</table>
<!-- Afficher les details de l'utilisateur selectionné -->
<div *ngIf="show">
    <div *ngIf="selectedUser">
        <h2>{{selectedUser.nom | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedUser.id}}</div>
        <div>
            <label>email:
              <input [(ngModel)]="selectedUser.email" placeholder="email">
            </label>
          </div>
        <div>
          <label>name:
            <input [(ngModel)]="selectedUser.nom" placeholder="name">
          </label>
        </div>
        <div>
            <label>password:
              <input [(ngModel)]="selectedUser.password" placeholder="password">
            </label>
          </div>

      </div>
</div>

  <button (click)="toggle()" class="btn btn-info">
      {{buttonName}}
  </button>
  <button (click)="putUser()" class="btn btn-success">
      Update
  </button>
  <button (click)="deleteRefreshUser(selectedUser.id)" class="btn btn-danger">
      Remove
  </button>


  